form {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  justify-content: space-evenly;
  margin-top: 50px;
}

.new-tweet {
  width: 100%;
  margin-bottom: 10px;
}

#tweet-text {
  background-color: #f4f1ec;
  border:0ch;
  border-bottom: 5px solid #545149;
  margin-bottom: 10px;
}

.submit {
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: 'Bungee', cursive;
}
.submit:hover {
  /*border: 5px solid #b7bdd1;*/
  box-shadow: 5px 5px #b7bdd1;
}

.subcounter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  font-weight: bold;
  color: #545149;
}